html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

.filter {
  display: none;
  z-index: 9000;
  cursor: pointer;
}

.Bookstore-CMS {
  width: 1600px;
  height: 1434px;
  padding: 149px 60px 123px 100px;
  background-color: #f5f6fa;
}

.content-container {
  width: 1400px;
  height: 1097px;
  margin: 0 40px 65px 0;
  padding: 0 0 794px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.header {
  width: 1400px;
  height: 95px;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  border-bottom: 1px solid #e8e8e8;

  h1,
  a {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  h1 {
    width: 240px;
    height: 37px;
    margin: 6px 47px 2px 0;
    font-size: 30px;
    font-weight: bold;
    color: #0290ff;
  }

  a {
    letter-spacing: 1.9px;
    text-transform: uppercase;
    text-decoration: none;
    height: 16px;
    font-size: 13px;
    color: #121212;
  }

  .books {
    width: 59px;
    margin: 18px 41px 11px 0;
  }

  .categories {
    width: 105px;
    margin: 18px 664px 11px 41px;
    opacity: 0.5;
  }
}

.book {
  display: flex;
  width: 1200px;
  height: 170px;
  margin: 37px 100px 0;
  padding: 32px 147px 26px 27px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;

  .is-half {
    width: 500%;
    display: flex;
  }

  .info {
    strong {
      width: 49px;
      height: 18px;
      opacity: 0.5;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
    h3 {
      height: 29px;
      margin-top: 4px;
      font-family: "Roboto Slab", serif;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.2px;
    }
    a {
      color: #4386bf;
      font-family: "Roboto Slab", serif;
      text-decoration: none;
      font-size: 14px;
    }
    a:hover {
      opacity: 0.7;
    }
    ul {
      display: flex;
      margin-top: 18px;
      height: 24px;

      li:first-of-type {
        padding-right: 15px;
      }

      li:nth-of-type(2) {
        padding-left: 17px;
        padding-right: 17px;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
      }

      li:nth-of-type(3) {
        padding-left: 17px;
      }
    }
  }

  .pct-col {
    display: flex;
    margin-top: 18px;
    height: 68px;
    border-right: 1px solid #e8e8e8;

    .pct-complete {
      display: flex;
      flex-direction: column;
      font-family: "Montserrat", sans-serif;
      margin: 1px 92px 0 11px;
      font-size: 32px;
      color: #121212;
      span {
        font-size: 15px;
        opacity: 0.5;
        height: 18px;
      }
    }

    .circle {
      width: 68px;
      height: 68px;
      border-style: solid;
      border-width: 5px;
      border-color: #379cf6;
      border-radius: 50%;
      border-top-color: #e8e8e8;
      transform: rotate(316deg);
      z-index: 2;
    }
  }

  .progress-col {
    h5 {
      height: 18px;
      margin: 1px 58px 0 59px;
      opacity: 0.5;
      font-family: "Roboto Slab", serif;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 300;
    }

    p {
      height: 21px;
      margin: 7px 109px 4px 59px;
      font-family: "Roboto Slab", serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -0.4px;
    }

    button {
      padding: 7px 19px 8px 22px;
      border-radius: 3px;
      border: none;
      background-color: #0290ff;
      width: 184px;
      text-transform: uppercase;
      height: 33px;
      margin: 12px 0 9px 59px;
      font-family: "Roboto Slab", sans-serif;
      font-size: 13px;
      font-weight: 300;
      color: #fff;
    }

    button:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.book-form {
  h3 {
    margin-left: 100px;
    color: #888888;
    letter-spacing: -0.18px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
  }

  .line {
    width: 1200px;
    height: 2px;
    margin: 40px 1px 29px 100px;
    border: solid 1px #e8e8e8;
  }

  form {
    margin-left: 100px;
    display: flex;
    align-items: unset;

    input[type="text"],
    select {
      font-size: 16px;
      color: #c4c4c4;
      letter-spacing: -0.15px;
      font-family: "Montserrat", sans-serif;
    }

    input[type="text"] {
      width: 664px;
      height: 45px;
      margin: 19px 34px 0 0;
      padding: 13px 0 13px 17px;
      border-radius: 4px;
      border: solid 1px #e8e8e8;
      background-color: #ffffff;
    }

    select {
      width: 285px;
      height: 45px;
      margin: 19px 34px 0 0;
      padding: 6px 15px 9px 16px;
      border-radius: 4px;
      border: solid 1px #e8e8e8;
      background-color: #ffffff;
    }

    button {
      width: 184px;
      height: 45px;
      margin-top: 19px;
      font-family: "Roboto Slab", sans-serif;
      padding: 12.8px 19px 14.2px 22px;
      border-radius: 3px;
      font-size: 13px;
      font-weight: bold;
      border: none;
      text-transform: uppercase;
      color: #fff;
      background-color: #0290ff;
    }

    button:hover {
      cursor: pointer;
    }
  }
}
